/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import '~font-awesome/css/font-awesome.css';

body {
  text-align: center;
}

svg {
  background-color: grey;
}

path {
  fill: none;
  stroke: black;
}

.node {
  cursor: pointer;
}

.node-label {
  text-anchor: middle;
  initial-letter-align: middle;
  cursor: pointer;
}

.link-label {
  fill: orange;
  font-weight: bold;
  text-anchor: middle;
}

.popup-rectangle {
  rx: 15;
  ry: 15;
  stroke: black;
  stroke-width: 1;
}

.popup-text {
  text-anchor: start;
}
