/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import '~font-awesome/css/font-awesome.css';

body {
  text-align: center;
}

svg {
  background-color: grey;
}

.label {
  font-weight: bold;
}

.node {
  cursor: pointer;
}

label {
  cursor: pointer;
}
